<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title><!--Qui va inserito il title del wp-->
      TITOLO DA CAMBIARE
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding *ngFor="let item of Posts" (click)="openDetail(item)">
  <ion-card-content>
    <ion-card-title>
      {{ item.title.redered }}
    </ion-card-title>
  </ion-card-content>

  <ion-list ion-item *ngFor="let post of api.Posts" (click)="openPage2(post.id)">
    {{ post.title.rendered }} - Eventi/Posts
  </ion-list>
</ion-content>


