<ion-header>

  <ion-navbar>
    

    <ion-title><!--Qui va inserito il title del wp-->
      TITOLO DA CAMBIARE
    </ion-title>

    
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card-content *ngFor="let item of Posts" (click)="openDetail(item)">
    <ion-card-title>
      {{ item.title.redered }}
    </ion-card-title>
  </ion-card-content>

  <ion-list ion-item *ngFor="let page of api.Pages" (click)="test($event, page.id, 'pages')">
      {{ page.title.rendered }} - Page/Luoghi<br>
      
     
  </ion-list>

  <br><br>

  <ion-list ion-item *ngFor="let post of api.Posts" (click)="test($event, post.id, 'posts')">
    {{ post.title.rendered }} - Eventi/Posts<br>
    <div [innerHTML] = "post.excerpt.rendered"></div>
    <img [src]="post['wp:featuredmedia'].media_details.source'_url"/>
  </ion-list>

</ion-content>


