<ion-header>

  <ion-navbar>
    

    <ion-title><!--Qui va inserito il title del wp-->
      TITOLO DA CAMBIARE
    </ion-title>

    
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card-content *ngFor="let item of Posts" (click)="openDetail(item)">
    <ion-card-title>
      {{ item.title.redered }}
    </ion-card-title>
  </ion-card-content>

  <ion-list ion-item *ngFor="let post of api.Posts" (click)="openPage2(post.id)">
    {{ post.title.rendered }} - Eventi/Posts
  </ion-list>

  <ion-list ion-item *ngFor="let page of api.Pages" (click)="openPage3(page.id)">
      {{ page.title.rendered }} - Page/Luoghi
  </ion-list>
</ion-content>


