<!--ion-nav [root]="rootPage"></ion-nav-->

<ion-menu [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Elenco</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuConsole ion-item *ngFor="let cat of api.Categories" (click)="openPage(cat.id)">{{ cat.name }} :Titolo (app.html)</button>
        <button menuConsole ion-item *ngFor="let post of api.Posts" (click)="openPage2(post.id)">{{ post.title.rendered }} :Titolo (app.html)</button>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>